.subCategories {
  display: none;
  margin-left: 20px;
}

.expanded {
  display: block;
}

/* Estilos adicionais para uma aparência mais visual */
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  margin: 10px 0;
}

/* Estilos para a barra de navegação */
.navbar-container {
  display: flex;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.tab-content {
  display: flex;
  align-items: center;
}

.tab-content .tab-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.tab-content .tab-icon svg {
  width: 20px;
  /* Defina a largura desejada para o ícone */
  height: 20px;
  /* Defina a altura desejada para o ícone */
  vertical-align: middle;
  margin-right: 5px;
  /* Ajuste a margem direita conforme necessário */
}

.tab-content .tab-name {
  font-weight: bold;
}

.app-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
}

.app-container .tab-icon {
  width: 24px;
  /* Defina a largura desejada para o ícone */
  height: 24px;
  /* Defina a altura desejada para o ícone */
  margin-right: 10px;
  /* Ajuste a margem direita conforme necessário */
}

.app-container .app-info {
  display: flex;
  flex-direction: column;
}

.app-container .app-name {
  font-weight: bold;
}

.app-container .app-developer {
  color: gray;
}
